.posts{
    background-color: blueviolet;
    margin-bottom: 20px;
    padding: 15px;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightseagreen ;
    opacity: 70%;
    display: none;
    color: white;
    text-align: center;
    font-size: 35px;
}
.overlay.active{
    display: block;
}
.close{
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 30px;
    color: brown;
    cursor: pointer;
}